<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Seminar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>93B2A4FB1BC3EF1C004D4E67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93B2A5131BC3EF1C004D4E67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93B2A51E1BC3EF1C004D4E67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
